@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.splash {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
}

.splash.display-none {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    opacity: 0;
    transition: 2s;
    z-index: -10;
    color: #000000;
}

@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}


  